@charset "utf-8";

@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/Varela-Round/varela-round.regular-webfont.eot');
    src: url('../fonts/Varela-Round/varela-round.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Varela-Round/varela-round.regular-webfont.woff2') format('woff2'),
         url('../fonts/Varela-Round/varela-round.regular-webfont.woff') format('woff'),
         url('../fonts/Varela-Round/varela-round.regular-webfont.ttf') format('truetype'),
         url('../fonts/Varela-Round/varela-round.regular-webfont.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular/montserrat-regular.eot");
  src: url("../fonts/Montserrat-Regular/montserrat-regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat-Regular/montserrat-regular.otf") format("otf");
  src: url("../fonts/Montserrat-Regular/montserrat-regular.svg") format("svg");
  src: url("../fonts/Montserrat-Regular/montserrat-regular.ttf") format("truetype");
  src: url("../fonts/Montserrat-Regular/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light/montserrat-light.eot");
  src: url("../fonts/Montserrat-Light/montserrat-light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat-Light/montserrat-light.otf") format("otf");
  src: url("../fonts/Montserrat-Light/montserrat-light.svg") format("svg");
  src: url("../fonts/Montserrat-Light/montserrat-light.ttf") format("truetype");
  src: url("../fonts/Montserrat-Light/montserrat-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold/montserrat-bold.eot");
  src: url("../fonts/Montserrat-Bold/montserrat-bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat-Bold/montserrat-bold.otf") format("otf");
  src: url("../fonts/Montserrat-Bold/montserrat-bold.svg") format("svg");
  src: url("../fonts/Montserrat-Bold/montserrat-bold.ttf") format("truetype");
  src: url("../fonts/Montserrat-Bold/montserrat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.otf") format("otf");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg") format("svg");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'Sansation-Light';
   src: url(../fonts/Sansation-Light/Sansation-Light.eot);
   src: url(../fonts/Sansation-Light/Sansation-Light.eot?#iefix) format("embedded-opentype"),
        url(../fonts/Sansation-Light/Sansation-Light.woff2) format("woff2"),
        url(../fonts/Sansation-Light/Sansation-Light.woff) format("woff"),
        url(../fonts/Sansation-Light/Sansation-Light.otf) format("otf"),
        url(../fonts/Sansation-Light/Sansation-Light.ttf) format("truetype"),
        url(../fonts/Sansation-Light/Sansation-Light.svg#Sansation-Light) format("svg");
   font-weight: normal;
   font-style: normal;
}

@import "compass/reset";

html {
  -webkit-text-size-adjust: 100%;
}

/*base-elements--------------------------------------------------------[BEGIN]*/
  .base-block {
    position: relative;
    width: 100%;
    font-family: "Montserrat-Light", sans-serif;
    padding-top: 97px;
  }

  .base-title {
    display: block;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: .7px;
    font-family: "Montserrat-Light", sans-serif;
    text-transform: uppercase;
    color: #000;
  }

  .three-column-block {
    .content {
      max-width: 820px;
      padding: 0 20px;
    }

    ul {
      width: 100%;
      padding: 0;
      @include ib;
      @include clearfix();
    }

    li {
      width: 33.3%;
      padding: 0 8px 24px 8px;
      float: left;

      &:nth-child(3n+3) {
        padding-right: 0;
        padding-left: 16px;
      }

      &:nth-child(3n+1) {
        padding-left: 0;
        padding-right: 16px;
        clear: left;
      }
    }
  }

  .main-three-column-block {
    .content {
      max-width: 1020px;
      padding: 0 20px;
    }

    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      @include clearfix();
    }

    li {
      float: left;
    }

    .thumb-item {
      text-align: center;
    }
  }

  .two-column-block {
    .content {
      max-width: 1020px;
      padding: 0 20px;
    }

    ul {
      width: 100%;
      padding: 0;
      @include ib;
      @include clearfix();
    }

    li {
      width: 50%;
      float: left;

      &:nth-child(2n+1) {
        clear: left;
      }

      &:nth-last-child(1),
      &:nth-last-child(2) {
        padding-bottom: 0;
      }
    }
  }

  .section-title-aux {
    @extend .base-title;
    padding: 0;
    margin: 0 0 19px;
  }

  .title-brdr {
    .section-title {
      @extend .base-title;
      padding-bottom: 54px;
      @include ib;
      position: relative;

      &:before {
        content: "";
        background: #ddd;
        width: 90px;
        height: 2px;
        position: absolute;
        bottom: 26px;
        left: 50%;
        margin-left: -48px;
      }
    }
  }

  .b-lazy {
    @include transition(opacity .5s ease-in-out);
    max-width: 100%;
    opacity: 0;
  }

  .b-lazy.b-loaded {
    opacity: 1;
  }
/*base-elements----------------------------------------------------------[END]*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: top;
}

nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

img {
  -ms-interpolation-mode: bicubic;
}

* {
  @include box-sizing(border-box);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
}

*:focus, a, a:hover, a:active, a:focus {
  -moz-outline-style: none;
  outline: none !important;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

.clear,
.clearfix,
.clearfix:after {
  clear: both;
}

sup {
  font-size: 10px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #959595;
  text-overflow: ellipsis;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #959595;
  text-overflow: ellipsis;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #959595;
  text-overflow: ellipsis;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #959595;
  text-overflow: ellipsis;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

body {
  background: #fff;
  font-stretch: normal;
  width: expression((document.compatMode && document.compatMode == 'CSSICompat')?(document.documentElement.clientWidth < 1000?"1000px":"auto"):(document.body.clientWidth < 1000?"1000px":"auto"));
  text-align: left;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  padding-top: 62px;
  -webkit-overflow-scrolling: touch;

  &.hidden {
    overflow-x: hidden;
  }
}

a,
input,
textarea {
  font-family: "Montserrat-Regular";
  text-decoration: none;
  @include transition(color 200ms linear, background 200ms linear, border 200ms linear, opacity 200ms linear, transform 200ms linear);
}

.default-display {
  display: block;
}

.retina-display {
  display: none;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.wrapper {
  width: 100%;
  @include ib;
  text-align: justify;
  text-justify: newspaper;
  text-align-last: justify;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;

  &:after {
    content: "";
    width: 100%;
    @include ib;
    overflow: hidden;
    visibility: hidden;
  }
}

p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat-Light", sans-serif;
  margin: 0 0 18px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.section-title {
  width: 100%;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  padding-bottom: 60px;
  font-family: "Montserrat-Light";
}

.thumb-title,
.section-sub-title {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat-Light";
}

h4 {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
}

h6 {
  font-size: 12px;
  line-height: 24px;
  color: #000;
  font-family: "Montserrat-Light";
}

input[type="text"] {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 36px;
  font-family: "Montserrat-Light";
  color: #000;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 2px 1px;
  @include transition(border-color .1s linear);

  &:hover {
    border-color: #d6d6d6;
  }

  &:focus {
    color: #000;
    border-color: #d6d6d6;
  }

  &:active {
    border-color: #e9e9e9;
  }

  &.error {
    border-width: 2px;
    border-color: #EC9090;
    padding: 2px 1px 1px;
  }
}

textarea {
  background: $gray-l6;
  width: 100%;
  height: 126px;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border: 1px solid #e9e9e9;
  font-family: "Montserrat-Light";
  resize: none;
  @include transition(border-color .1s linear);

  &:hover {
    background: $gray-l6;
    border-color: #d6d6d6;
  }

  &:focus {
    color: #000;
  }

  &.error {
    border-width: 2px;
    border-color: #EC9090;
    padding: 6px 9px;
  }
}

label {
  color: rgba(0,0,0,.4);
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  display: block;
  padding-bottom: 12px;
  width: 100%;
  text-align: left;
}

input[name="submit"] {
  @extend .base-btn;
  @extend .transp-black-nav-btn;
}

.row {
  position: relative;
}

.btn1 a {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Montserrat-Light";

  &:hover {
    color: #f2ea57;
  }
}

.btn2 a {
  color: #fff;
  font-size: 12px;
  line-height: 32px;
  border: 2px solid #3f464e;
  border-radius: 22px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  @include ib;
  font-family: "Montserrat-Light";

  &:hover {
    color: #fcea57;
    border-color: #625c42;
  }

  &:active {
    color: #fcea57;
    border-color: #83803b;
  }
}

.btn4 a {
  background: #000;
  font-size: 14px;
  line-height: 36px;
  padding: 0 27px;
  border-radius: 22px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include ib;
  font-family: "Montserrat-Light";
  border: none;

  &:hover {
    background: #505050;
  }

  &:active {
    background: #000;
  }
}

.separator {
  background: #e5e5e5;
  width: 100%;
  height: 1px;
  margin-top: 14px;
  text-align: center;
  position: relative;
  letter-spacing: 1.3px;
  z-index: 1;
  font-family: "Montserrat-Light";

  > div {
    background: #fff;
    padding: 0 25px;
    font-size: 12px;
    line-height: 12px;
    color: #b8b8b8;
    text-transform: uppercase;
    position: relative;
    top: -7px;
    z-index: 2;
    @include ib;
  }
}

.before-loading {
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 12000;
}

.mobile-menu-button,
#fixed,
.mobile-menu {
  display: none;
}

#mobile-menu-button {
  z-index: 51;
}

/*header---------------------------------------------------------------[BEGIN]*/
  .header {
    background: #fff;
    width: 100%;
    height: 62px;
    position: fixed;
    border-top: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    .content {
      width: 100%;
      max-width: 1020px;
      padding: 0 20px;
    }

    &.mobile-nav-open {
      background: transparent;
      z-index: 54;
      .logo {
        a {
          color: #fff;
        }
      }
    }

    .logo {
      position: relative;
      display: inline-block;
      height: 28px;
      float: left;
      z-index: 2;
      margin: 18px 0 0;
    }

    .site-logo {
      display: block;
      position: relative;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: .2px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: 'Varela Round', sans-serif;
      color: #000;
      margin: 0;
      padding: 0 0 0 37px;

      &:before {
        @include ps(logo);
        left: 0;
        top: 0;
        @include opacity(1);
        @include transition(opacity 200ms linear);
      }

      &:after {
        @include ps(logo-after-scrolling);
        left: 0;
        top: 0;
        @include opacity(0);
        @include transition(opacity 200ms linear);
      }
    }

    nav {
      position: relative;
      float: right;
      margin: 11px 0 0;
      z-index: 2;
    }

    ul {
      width: 100%;
      float: left;
      margin: 0;
    }

    li {
      float: right;
      margin: 0 10px;
    }

    .nav-link {
      @extend .base-link;
      @extend .black-link;
      margin: 6px 0;
    }

    .nav-link--disable {
      &,
      &:hover,
      &:active,
      &:visited,
      &:focus {
        color: #000;
        opacity: 1;
      }
    }

    .nav-btn {
      width: 152px;
      @extend .base-btn;
      @extend .transp-black-nav-btn;
    }

    .get-in-touch {
      position: relative;
      margin-right: 0;
      z-index: 2;
    }

    .back-to-home a:before {
      @include ps(back-to-home);
      left: -14px;
      top: 32px;
      display: none;
    }

    .back-to-home a:hover:before {
      @include ps(back-to-home-hover);
      display: none;
    }
  }

  .scrolled {
    .site-logo {
      &:before {
        @include opacity(0);
      }

      &:after {
        @include opacity(1);
      }
    }

    .nav-btn {
      @extend .black-white-btn;
    }
  }

  .sticky-header {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 52;
    @include box-shadow(0 1px 0 0 rgba(0, 0, 0, .05));
    @include transition(top 300ms linear);

    .logo {
      position: relative;
      margin-top: 15px;
      float: left;
      z-index: 2;

      a {
        display: block;
        position: relative;
        font-family: "Montserrat-Light";
        font-size: 16px;
        line-height: 39px;
        color: #000;
        text-transform: uppercase;
      }
    }

    nav {
      float: right;
      position: relative;
      z-index: 2;
    }

    ul {
      width: 100%;
      float: left;
    }

    li {
      float: right;
    }

    .showcase a,
    .back-to-home a {
      line-height: 70px;
      color: #000;

      &:hover {
        color: #757575;
      }

      &:active {
        color: #000;
      }
    }

    .back-to-home a:before {
      @include ps(back-to-home-black);
      left: -14px;
      top: 32px;
      @include opacity(1);
      @include transition(opacity 200ms linear);
      display: none;
    }

    .back-to-home a:hover:before {
      @include opacity(.5);
      display: none;
    }

    .get-in-touch {
      margin-left: 35px;
      margin-top: 16px;
      position: relative;
      z-index: 2;

      a {
        background: #000;
        border-color: #000;

        &:hover {
          background: #505050;
          border-color: #505050;
          color: #fff;
        }

        &:active {
          background: #000;
          border-color: #000;
        }
      }
    }

    &.scrolled {
      top: 0;
    }

    .mobile-menu-button {
      border-color: #e5e5e5;
      top: 15px;

      .line,
      .close:before,
      .close:after {
        background: #000;
      }
    }
  }
/*header-----------------------------------------------------------------[END]*/

main {
  width: 100%;
  position: relative;
}

.helper {
  min-height: 100%;
}

/*socials-block--------------------------------------------------------[BEGIN]*/
  .fsocials-block {
    padding: 0 0 50px;

    .content {
      max-width: 960px;
    }
  }

  .social {
    width: 100%;
    margin-top: 46px;
    @include ib;
    text-align: center;
    text-justify: newspaper;
    text-align-last: center;
    vertical-align: top;
    font-size: 0;
    line-height: 0;

    li {
      margin: 0 40px;
      @include ib;

      a {
        font-size: 12px;
        line-height: 20px;
        color: #000;
        text-transform: uppercase;
        position: relative;
        @include opacity(1);
        @include transform(opacity 200ms linear);

        &:before {
          top: 0;
          left: 0;
          @include opacity(1);
          @include transform(opacity 200ms linear);
        }

        &:hover {
          @include opacity(.8);
          &:before {
            @include opacity(.8);
          }
        }
      }
    }

    .dribble a {
      padding-left: 30px;

      &:before {
        @include ps(dribble-icon-small);
        top: -3px;
      }
    }

    .behance a {
      padding-left: 33px;

      &:before {
        @include ps(behance-icon-small);
        top: -1px;
      }
    }

    .facebook a {
      padding-left: 23px;

      &:before {
        @include ps(facebook-icon-small);
        top: -3px;
      }
    }

    .twitter a {
      padding-left: 29px;

      &:before {
        @include ps(twitter-icon-small);
      }
    }
  }
/*socials-block----------------------------------------------------------[END]*/

/*footer---------------------------------------------------------------[BEGIN]*/
  .footer {
    display: block;
    position: relative;
    background: #000;
    width: 100%;
    padding: 0;

    .content {
      overflow: hidden;
    }
  }

  .footer-top-part {
    display: inline-block;
    width: 100%;
    float: left;
    padding: 34px 0 43px;
  }

  .footer-bottom-part {
    display: inline-block;
    width: 100%;
    float: left;
    border-top: 1px solid $black-l3;
    padding: 30px 0 26px;
  }

  .footer-logo {
    position: relative;
    display: inline-block;
    height: 36px;
    float: left;
    z-index: 2;
    margin: 0 20px 26px 0;
  }

  .footer-site-logo {
    display: block;
    position: relative;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: .2px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    margin: 0;
    padding: 4px 2px 4px 53px;

    &:visited,
    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }

    &::before {
      @include ps(footer-logo);
      left: 0;
      top: 0;
    }
  }

  .footer-nav {
    display: inline-block;
    width: 680px;
    float: right;
    @include clearfix();
  }

  .footer-nav-row {
    display: inline-block;
    width: 33.3%;
    float: left;

    &:nth-of-type(2) {
      .footer-nav-row-wrapper {
        margin-right: 10px;
      }
    }

    &:nth-of-type(3) {
      text-align: right;

      .footer-nav-row-wrapper {
        width: 142px;
        float: right;
        text-align: left;
      }
    }
  }

  .footer-nav-title {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .1px;
    font-weight: 400;
    font-family: "Montserrat-Light", sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 11px 0 19px;
  }

  .footer-nav-list {
    display: inline-block;
    margin: 0;
    @include clearfix();
  }

  .footer-nav-item {
    display: inline-block;
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
  }

  .footer-nav-link,
  .footer-nav-txt,
  .footer-nav-txt-margined,
  .footer-nav-email,
  .footer-nav-tel {
    display: inline-block;
    font-weight: 400;
    font-family: "Montserrat-Light", sans-serif;
    color: $gray-l13;
    opacity: .6;
  }

  .footer-nav-link,
  .footer-nav-email {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.1px;
    @include overlayfix;

    &:visited,
    &:active,
    &:focus {
      color: #fff;
      @include opacity(.6);
    }

    &:hover {
      color: #fff;
      @include opacity(.8);
    }
  }

  .footer-nav-link--disable {
    color: #fff;
    @include opacity(.4);

    &:visited,
    &:active,
    &:focus,
    &:hover {
      color: #fff;
      @include opacity(.4);
    }
  }

  .footer-nav-txt {
    font-size: 14px;
    line-height: 24px;
    margin: 6px 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:first-of-type:last-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .footer-nav-txt-margined {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 12px;
  }

  .footer-nav-tel {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.1px;
    margin: 0 0 1px;
  }

  .footer-soc-list {
    @include clearfix();
    margin: 10px 0;
  }

  .footer-soc-item {
    display: inline-block;
    float: left;
  }

  .footer-soc-link {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin: 0px 4px 0 1px;
    opacity: 1;
    @include overlayfix;

    &:visited,
    &:active,
    &:focus {
      @include opacity(1);
    }

    &:hover {
      @include opacity(.8);
    }
  }

  .footer-soc-icon-tweeter {
    &::before {
      @include ps(footer-soc-icon-tweeter);
    }
  }

  .footer-soc-icon-dribbble {
    &::before {
      @include ps(footer-soc-icon-dribbble);
    }
  }

  .footer-soc-icon-behance {
    &::before {
      @include ps(footer-soc-icon-behance);
    }
  }

  .footer-soc-icon-facebook {
    &::before {
      @include ps(footer-soc-icon-facebook);
    }
  }

  .footer-copyright {
    display: inline-block;
    float: left;
    margin: 16px 0 25px;
  }

  .footer-copyright-txt {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "Montserrat-Light", sans-serif;
    color: #fff;
    opacity: .6;
    margin: 0;
  }

  .footer-partners-list {
    display: inline-block;
    float: right;
    margin: 0;
    @include clearfix();
  }

  .footer-partners-item {
    float: left;
    margin: 0 8px 0 7px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .partner-clutch-icon {
    display: inline-block;
    width: 53px;
    height: 53px;
    &::before {
      @include ps(partner-clutch-icon);
    }
  }

  .partner-microsoft-icon {
    display: inline-block;
    width: 128px;
    height: 34px;
    margin: 9px 0 0;

    &::before {
      @include ps(partner-microsoft-icon);
    }
  }
/*footer-----------------------------------------------------------------[END]*/

.b18 {
  background: $gray-l6;
  padding-bottom: 93px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  @extend .base-block;

  img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    @include ib;
  }

  span {
    display: block;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #7c7c80;
    padding-top: 27px;
    letter-spacing: .5px;
  }

  p {
    padding-top: 26px;
    padding-left: 125px;
    padding-right: 125px;
    color: #000;
  }

  .section-title {
    @extend .base-title;
    padding-top: 31px;
    padding-bottom: 0;

    &:before {
      content: none;
    }
  }

  .shakuro-logo {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 0;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 53px;
      height: 51px;
      background-color: transparent;
      background-image: url(../img/base/logo-feedback.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 53px 51px;
      top: 50%;
      left: 50%;
      margin: -26px 0 0 -26px;
    }
  }
}

.drop-us-block {
  position: relative;
  padding-top: 158px;
  padding-bottom: 158px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/home/drop-us-bg.jpg);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #01060d;
    opacity: .75;
  }

  .form-wrapper {
    position: relative;
    padding: 55px 40px 90px;
    background: #fff;
    @include box-shadow(0 45px 85px rgba(0, 0, 0, .76));
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
  }

  .form {
    width: 100%;
    max-width: 560px;
    padding: 0;
    overflow: hidden;
  }

  .content {
    padding: 0 20px;
  }

  .row {
    position: relative;
    padding: 0;
  }

  .form-title,
  .form-sub-title {
    color: #000;
    font-family: "Montserrat-Light", sans-serif;
    text-transform: uppercase;
  }

  .form-title {
    position: relative;
    width: auto;
    @include ib;
    font-size: 27px;
    line-height: 42px;
    letter-spacing: 2.8px;
    margin-top: 15px;
    padding-right: 69px;
    padding-bottom: 15px;

    &::before {
      content: none;
    }

    &::after {
      @include ps(mail-icon);
      top: 11px;
      right: 0;
    }
  }

  .form-sub-title {
    display: block;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;
  }

  form {
    display: block;
    position: relative;
    margin: 46px 0 0;

    > div {
      margin-top: 17px;
      position: relative;
      text-align: left;

      > div {
        width: calc(100% - 154px);
        float: left;
        @include ib;
      }
    }
  }

  input[type="text"] {
    border-radius: 0;
    padding: 2px 10px;
  }

  input[name="submit"] {
    margin-left: 18px;
    width: 136px;
    height: 40px;
    float: right;
    border-radius: 20px;
    cursor: pointer;
  }
}


.drop-us-block--white {
  padding-top: 21px;
  padding-bottom: 10px;
  background-image: none;

  &::before {
    content: none;
  }

  .form-wrapper {
    @include box-shadow(none);
  }
}

.form {
  width: 100%;
  max-width: 643px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.mail-send {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  text-align: center;
  opacity: 0;
  padding: 70px 0;

  .form-sub-title {
    display: block;
  }

  .section-title {
    font-family: "Montserrat-Light";
    letter-spacing: 2px;
    padding: 0 0 0;
    margin: 16px 0 0;

    &:before {
      content: none;
    }

    &:after {
      content: none;
    }
  }
}

.mail-send-img {
  @include ps(send-mail);
  display: inline-block;
  position: relative;
  margin-top: 36px;
  margin-bottom: 38px;
}

.send-mail-again-btn {
  width: 192px;
  height: 40px;
  line-height: 36px;
  border-radius: 20px;
  @extend .base-btn;
  @extend .transp-black-nav-btn;
}

.tablet,
.mobile {
  display: none !important;
}

.desktop {
  display: block !important;
}

/*about-block----------------------------------------------------------[BEGIN]*/
  .about-block {
    background: #fff;
    padding-bottom: 93px;
    border-bottom: 1px solid #e9e9e9;
    overflow-x: hidden;
    @extend .base-block;
    @extend .title-brdr;

    p {
      text-align: center;
      width: 100%;
      max-width: 560px;
      color: $gray-l3;
      margin: 0 auto 15px;
      padding: 0 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &:first-child:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      width: 100%;
      @include ib;
      text-align: left;
      text-justify: newspaper;
      text-align-last: left;
      vertical-align: top;
      font-size: 0;
      line-height: 0;
    }

    li {
      width: calc(50% - 25px);
      float: left;
      margin-right: 0;
      text-align: left;
      text-align-last: left;
      @include ib;
      vertical-align: top;
      font-size: 14px;
      line-height: 25px;

      &:nth-child(2n+1) {
        margin-right: 25px;
      }

      &:nth-child(2n+2) {
        margin-left: 25px;
      }
    }
  }
/*about-block------------------------------------------------------------[END]*/

/*team-block-----------------------------------------------------------[BEGIN]*/
  .b53 {
    background: #fff;
    padding-bottom: 96px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    @extend .base-block;

    h3 {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 2px;
      color: #000;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      text-transform: none;
      color: #2c3241;
      letter-spacing: 0;
    }

    ul {
      width: 100%;
      margin: 0;
      @include ib;
      text-align: center;
      text-align-last: center;
      vertical-align: top;
      font-size: 0;
      line-height: 0;

      &:after {
        content: "";
        width: 100%;
        @include ib;
        overflow: hidden;
        visibility: hidden;
      }
    }

    li {
      width: 168px;
      margin: 35px 35px 0;
      text-align: center;
      text-align-last: center;
      @include ib;
      vertical-align: top;
    }

    img {
      width: 100%;
      position: relative;
      display: block;
    }

    figcaption {
      padding-top: 20px;
    }
  }
/*team-block-------------------------------------------------------------[END]*/

@for $i from 1 through 7 {
  .section-0#{$i} {
    background-image: url(../img/showcase/0#{$i}-showcase.jpg);
  }
}

/*project-pagination-block---------------------------------------------[BEGIN]*/
  .project-pagination-block {
    position: relative;
    width: 100%;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px 0;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #01060d;
      @include opacity(.75);
      @include transition(opacity .3s linear);
    }

    .content {
      max-width: 1020px;
      z-index: 1;
      @include clearfix();
    }

    > * {
      text-transform: uppercase;
    }

    a {
      display: inline-block;
      position: relative;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 2.4px;
      font-weight: 400;
      font-family: "Montserrat-Bold", sans-serif;
      @extend .transparent-white-btn;

      &:before {
        position: absolute;
        top: 9px;
      }
    }

    .project-pagination-name {
      display: block;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.1px;
      font-weight: 400;
      font-family: "Montserrat-Light", sans-serif;
      margin-top: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .project-pagination-prev {
    width: 330px;
    float: left;
    text-align: left;
    padding-left: 51px;

    &:before {
      @include ps(arrow-left-white);
      left: 0;
    }

    .project-pagination-name {
      margin-left: 2px;
    }
  }

  .project-pagination-next {
    width: 330px;
    float: right;
    text-align: right;
    padding-right: 43px;

    &:before {
      @include ps(arrow-right-white);
      right: 0;
    }

    .project-pagination-name {
      margin-right: 2px;
    }
  }
/*project-pagination-block-----------------------------------------------[END]*/

/*approach-block-------------------------------------------------------[BEGIN]*/
  .approach-block {
    @extend .base-block;

    .content {
      max-width: 1090px;
    }

    .text {
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
      padding: 0 20px;
      text-align: center;
      text-align-last: center;
    }

    .thumb-title {
      font-size: 22px;
      line-height: 22px;
      letter-spacing: .4px;
    }
  }

  .approach-light-theme {
    .section-title {
      color: #000;

      &:before {
        background: rgba(221,221,221, .75);
      }
    }

    p {
      color: #707070;
    }

    .thumb-title {
      color: #000;
    }
  }

  .approach-dark-theme {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2f2f3b;
      @include opacity(.85);
    }

    .section-title {
      color: #fff;

      &:before {
        background: #fff;
      }
    }

    .thumb-title {
      color: #fff;
    }
  }

  .approach-blue-theme {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, #0e1a2f, #0f1b31);
      @include opacity(.85);
    }

    .section-title {
      color: #fff;

      &:before {
        background: #fff;
      }
    }

    .thumb-title {
      color: #fff;
    }
  }
/*approach-block---------------------------------------------------------[END]*/

.workflow-block {
  display: none;
}

/*tooltip-block--------------------------------------------------------[BEGIN]*/
  .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);

    &.in {
      opacity: 1;
    }

    &.bottom {
      margin-top: 3px;
      padding: 5px 0;
    }
  }

  .fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;

    &.in {
      opacity: 1;
    }
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #fff;
  }

  .tooltip-inner {
    font-size: 14px;
    line-height: 17px;
    background-color: #fff;
    color: #000;
    padding: 9px 8px 7px;
    text-transform: capitalize;
    @include box-shadow(0 1px 5px rgba(0,0,0,.19));
    border-radius: 4px;
    min-width: 136px;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
  }

  .header {
    .tooltip.bottom .tooltip-arrow {
      border-bottom-color: #000;
    }

    .tooltip-inner {
      background-color: #000;
      color: #fff;
    }
  }
/*tooltip-block----------------------------------------------------------[END]*/



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .default-display {
    display: none;
  }

  .retina-display {
    display: block;
  }
}

@media
only screen and (max-device-width: 640px) and (orientation: portrait),
only screen and (max-device-width: 640px) and (orientation: landscape) {
  /*showcase-page------------------------------------------------------[BEGIN]*/
    @for $i from 1 through 7 {
      .section-0#{$i} {
        background-image: url(../img/showcase/0#{$i}-showcase-mobile.jpg);
      }
    }
  /*showcase-page--------------------------------------------------------[END]*/
}

@media screen and (min-width: 1921px) {
  .drop-us-block {
    background-size: cover;
  }
}

@media screen and (max-width: 1024px) {
  .drop-us-block {
    background-image: url(../img/home/drop-us-bg-tablet.jpg);
  }
  .drop-us-block--white {
    background-image: none;
  }
}

@media screen and (max-width: 921px) {
  .footer-nav {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .about-block {
    .section-title {
      padding-bottom: 54px;

      &:before {
        bottom: 26px;
      }
    }

    li {
      width: 100%;
      margin: 20px 0 0 0;
      text-align: center;
      text-align-last: center;

      &:first-child {
        margin: 0;
      }

      &:nth-child(2n+2) {
        margin-left: 0;
      }

      &:nth-child(2n+1) {
        margin-right: 0;
      }
    }
  }

  /*team-block---------------------------------------------------------[BEGIN]*/
    .b53 {
      .content {
        width: 690px;
      }

      h3 {
        padding-bottom: 54px;

        &:before {
          bottom: 26px;
        }
      }

      li {
        margin: 30px 30px 0;
      }
    }
  /*team-block-----------------------------------------------------------[END]*/
}

@media screen and (min-width: 769px) {
  .main-three-column-block {
    .content {
      width: 100%;
      max-width: 1020px;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 15px;
  }

  /*base-elements------------------------------------------------------[BEGIN]*/
    .base-title {
      font-size: 20px;
      line-height: 24px;
    }

    .section-title-aux {
      margin: 0 0 15px;
    }

    .base-block {
      padding-top: 47px;

      .section-title {
        padding: 0 0 40px;

        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 45px;
          height: 1px;
          bottom: 20px;
          left: 50%;
          margin-left: -22.5px;
        }
      }
    }

    .three-column-block {
      .content {
        padding: 0 40px;
      }
    }
  /*base-elements--------------------------------------------------------[END]*/

  /*mobile-header--------------------------------------------------------[BEGIN]*/
    #mobile-menu-button.is-opened {
      z-index: 53;
    }

    .mobile-menu-button {
      width: 40px;
      height: 40px;
      border: 1px solid rgba(49,48,56,.2);
      border-radius: 100%;
      position: absolute;
      top: 9px;
      right: 20px;
      display: block;
      cursor: pointer;
      z-index: 53;

      &.is-opened {
        position: fixed;
        border: 2px solid rgba(255, 255, 255, .7);
      }

      .line {
        background: #000;
        width: 18px;
        height: 2px;
        margin: 12px auto 0 auto;
        position: relative;
        border-radius: 3px;
        @include transition(width .2s cubic-bezier(.77, 0, .175, 1) 0s);

        &:nth-child(1) {
          transition-delay: .1s;
        }

        &:nth-child(2) {
          transition-delay: .2s;
        }

        &:nth-child(3) {
          transition-delay: .3s;
        }

        + .line {
          margin-top: 4px;
        }
      }

      .close {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        @include transform(rotate(45deg));
        width: 100%;

        &:before,
        &:after {
          background: #fff;
          content: "";
          display: block;
          left: 50%;
          position: absolute;
          top: 50%;
          @include transition(transform .2s cubic-bezier(.77, 0, .175, 1) 0s);
        }

        &:before {
          height: 2px;
          margin: -1px 0 0 -9px;
          @include transform(scaleX(0));
          @include transform-origin(0 50% 0);
          width: 18px;
          border-radius: 3px;
        }

        &:after {
          height: 18px;
          margin: -9px 0 0 -1px;
          @include transform(scaleY(0));
          @include transform-origin(50% 100% 0);
          @include transition-delay(.15s);
          width: 2px;
          border-radius: 3px;
        }
      }

      &.is-opened {
        .close {
          &:before {
            @include transform(scaleX(1));
            @include transition-delay(.15s);
          }

          &:after {
            @include transform(scaleY(1));
            @include transition-delay(.3s);
          }
        }

        .line {
          width: 0;

          &:nth-child(1) {
            @include transition-delay(0);
          }

          &:nth-child(2) {
            @include transition-delay(.1s);
          }

          &:nth-child(3) {
            @include transition-delay(.2s);
          }
        }
      }
    }

    #fixed {
      content: "";
      background: #000;
      width: 100%;
      height: 100%;
      @include opacity(.97);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      z-index: 53;
    }

    #mobile-block {
      background: transparent;
      bottom: 0;
      display: none;
      height: 100%;
      left: 0;
      margin: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 53;

      .content {
        height: 100%;
      }
    }

    .mobile-menu {
      width: 100%;
      height: 100%;
      min-height: 420px;
      position: relative;
      z-index: 54;
      display: block;

      .logo {
        @include ib;
        position: fixed;
        top: 0;
        left: 20px;
        z-index: 2;

        a {
          display: block;
          padding-left: 40px;
          position: relative;
          font-family: "Montserrat-Light";
          font-size: 16px;
          line-height: 73px;
          color: #fff;
          text-transform: uppercase;

          &:before {
            @include ps(logo);
            left: 0;
            top: 24px;
            width: 40px;
          }
        }
      }

      nav {
        width: 100%;
        height: 126px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        li {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;

          &:first-child {
            bottom: auto;
            top: 0;
          }

          &:nth-child(2) {
            bottom: auto;
            top: 35%;
            margin-top: -10px;
          }

          &:nth-child(3) {
            bottom: auto;
            top: 65%;
            margin-top: -10px;
          }

          a {
            font-size: 18px;
            line-height: 20px;
            color: #fff;
            font-family: "Montserrat-Light";
            text-transform: uppercase;
          }
        }
      }

      .we-are-on {
        width: 100%;
        height: 148px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding-top: 10px;
        overflow: hidden;

        .separator {
          background: transparent;
          width: auto;
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;

          > div {
            background: transparent;
            color: #595c5e;
            position: relative;

            &:before {
              background: #595c5e;
              content: "";
              display: block;
              position: absolute;
              left: -200%;
              top: 5px;
              width: 200%;
              height: 1px;
            }

            &:after {
              background: #595c5e;
              content: "";
              display: block;
              position: absolute;
              top: 5px;
              right: -200%;
              width: 200%;
              height: 1px;
            }
          }
        }
      }
    }

    .social-mobile {
      width: 255px;
      margin-top: 24px;
      display: block;
      margin: 0 auto;
      font-size: 0;
      line-height: 0;
      padding-left: 0;
      padding-right: 0;
      text-align: left;
      text-align-last: left;

      li {
        width: calc(50% - 26px);
        margin: 26px 0 0 0;
        @include ib;

        &:nth-child(2n+1) {
          margin-right: 25px;
        }

        &:nth-child(2n+2) {
          margin-left: 25px;
        }

        a {
          font-size: 12px;
          line-height: 20px;
          color: #fff;
          text-transform: uppercase;
          position: relative;
          @include opacity(1);
          @include transform(opacity 200ms linear);

          &:before {
            top: 0;
            left: 0;
            @include opacity(1);
            @include transform(opacity 200ms linear);
          }

          &:hover {
            @include opacity(.8);

            &:before {
              @include opacity(.8);
            }
          }
        }
      }

      .dribble a {
        padding-left: 31px;

        &:before {
          @include ps(dribble-gray-mobile);
          top: -1.5px;
        }
      }

      .behance {
        margin-left: 0;
        margin-right: 0;

        a {
          padding-left: 33px;

          &:before {
            @include ps(behance-gray-mobile);
            top: -1px;
          }
        }
      }

      .facebook a {
        padding-left: 25px;

        &:before {
          @include ps(facebook-gray-mobile);
          top: -1.5px;
          left: 0;
        }
      }

      .twitter {
        margin-left: 0;
        margin-right: 0;

        a {
          padding-left: 33px;

          &:before {
            @include ps(twitter-gray-mobile);
            top: -1px;
          }
        }
      }
    }
  /*mobile-header--------------------------------------------------------[END]*/

  body {
    min-width: 320px;
  }

  .low-height {
    .mobile-menu {
      nav {
        height: 80px;
        margin-top: 56px !important;
        top: 0 !important;

        li {
          a {
            font-size: 16px;
          }

          &:nth-child(2) {
            top: 40%;
          }

          &:nth-child(3) {
            top: 68%;
          }

          &:nth-child(4) {
            top: 84%;
          }
        }
      }

      .mobile-menu nav li:nth-child(2) {
        bottom: auto;
        top: 40%;
        margin-top: -10px;
      }

      .we-are-on {
        width: calc(100% - 40px);
        height: 100px;
        margin: 0 20px;
        bottom: 155px;
        left: 0;
        right: 0;
        top: auto;
      }
    }

    .social-mobile {
      width: 100%;
      text-align: center;
      text-align-last: center;

      li {
        display: inline-block;
        width: auto;
        margin: 26px 32px 0 0 !important;
      }
    }
  }

  .header {
    &.mobile-nav-open {
      background: transparent;
      z-index: 54;
    }

    nav {
      display: none;
    }
  }

  .mobile-nav-open {
    &.scrolled {
      .site-logo {
        &:before {
          @include opacity(1);
        }

        &:after {
          @include opacity(0);
        }
      }
    }
  }

  .desktop,
  .tablet {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  /*team-block---------------------------------------------------------[BEGIN]*/
    .b53 {
      padding-bottom: 46px;

      h3 {
        font-size: 16px;
        line-height: 20px;
        padding: 0 0 40px;
        position: relative;

        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          background: #ddd;
          width: 45px;
          height: 1px;
          bottom: 21px;
          left: 50%;
          margin-left: -22.5px;
        }
      }

      ul {
        margin-top: 0;
      }

      li {
        width: 120px;
        margin-top: 50px;
      }

      figcaption {
        padding-top: 27px;
      }
    }
  /*team-block-----------------------------------------------------------[END]*/

  .about-block {
    padding-bottom: 45px;

    li {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      font-size: 12px;
      line-height: 19px;
      padding-top: 22px;
      text-align: center;
      text-align-last: center;

      &:first-child {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-top: 0;
      }

      &:nth-child(2n+2) {
        margin-left: 0;
      }
    }
  }

  .b18 {
    padding-bottom: 45px;
    margin-top: 0;

    p {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      letter-spacing: 0;
    }

    span {
      font-family: "Montserrat-Regular", sans-serif;
      font-size: 10px;
      line-height: 10px;
      padding-top: 11px;
    }

    .section-title {
      font-size: 20px;
      line-height: 24px;
      font-family: "Montserrat-Light", sans-serif;
      padding-top: 20px;
      padding-bottom: 0;

      &:before {
        content: none;
      }
    }
  }

  /*project-pagination-block-------------------------------------------[BEGIN]*/
    .project-pagination-block {
      padding: 44px 0;

      a {
        font-size: 24px;
        line-height: 28px;
        margin-top: 18px;
        margin-bottom: 18px;

        &:before {
          top: 4px;
        }
      }

      .project-pagination-name {
        margin-top: 0;
      }
    }

    .project-pagination-prev {
      width: 260px;
      padding-left: 35px;
      margin-right: 12px;
    }

    .project-pagination-next {
      width: 250px;
      padding-right: 33px;
      margin-left: 12px;
    }
  /*project-pagination-block---------------------------------------------[END]*/

  .approach-block {
    .thumb-title {
      font-size: 16px;
      line-height: 20px;
    }

    figcaption {
      padding: 12px 0 0;
    }
  }

  .drop-us-block {
    padding: 50px 0;
    background-image: url(../img/home/drop-us-bg-mobile.jpg);
  }

  .drop-us-block--white {
    background-image: none;
    padding-top: 21px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 683px) {
  .drop-us-block {
    padding-top: 40px;
    padding-bottom: 40px;

    .form-wrapper {
      padding-top: 30px;
      padding-bottom: 10px;
    }

    .form {
      width: 100%;
      padding-bottom: 20px;

      label {
        text-align: center;
      }

      .form-sub-title {
        font-size: 14px;
        line-height: 18px;
      }

      .form-title {
        margin: 0;
        padding-top: 35px;
        padding-right: 0;
        padding-bottom: 17px;
        width: 100%;
        display: block;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 2.6px;
        padding-bottom: 10px;
        text-transform: uppercase;

        &:after {
          top: 0;
          right: auto;
          left: 50%;
          margin-left: -38px;
        }
      }
    }

    form {
      margin: 25px 0 0;

      > div {
        margin-top: 7px;

        > div {
          width: 100%;
          float: inherit;
        }
      }
    }

    input[type="text"] {
      height: 42px;
      font-size: 16px;
      line-height: 21px;
      text-align: left;
    }

    input[name="submit"] {
      display: block;
      float: inherit;
      margin: 20px auto 0 auto;
    }
  }

  .drop-us-block--white {
    padding-top: 9px;
    padding-bottom: 10px;

    .form-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .mail-send .section-title {
    width: 100%;
    display: block;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1.6px;
  }
}

@media screen and (min-width: 641px) {
  /*base-elements------------------------------------------------------[BEGIN]*/
    .main-three-column-block {
      li {
        width: 33.3%;
        padding: 0 13px;

        &:nth-child(3n+3) {
          padding-right: 0;
          padding-left: 26px;
        }

        &:nth-child(3n+1) {
          padding-left: 0;
          padding-right: 26px;
          clear: left;
        }
      }
    }
  /*base-elements--------------------------------------------------------[END]*/
}

@media screen and (min-width: 520px) and (max-width: 640px) {
  /*base-elements------------------------------------------------------[BEGIN]*/
    .main-three-column-block {
      li {
        width: 50%;

        &:nth-child(2n+1) {
          padding-left: 0;
          padding-right: 20px;
          clear: left;
        }

        &:nth-child(2n+2) {
          padding-left: 20px;
          padding-right: 0;
        }
      }
    }
  /*base-elements--------------------------------------------------------[END]*/
}

@media screen and (max-width: 640px) {
  /*base-elements------------------------------------------------------[BEGIN]*/
    .three-column-block {
      li {
        width: 100%;

        &,
        &:nth-child(3n+3),
        &:nth-child(3n+1) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  /*base-elements--------------------------------------------------------[END]*/

  .content {
    padding: 0 40px;
  }

  .b18 {
    p {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .b53 {
    .content {
      min-width: 380px;
    }
  }

  .two-column-block {
    li {
      width: 100%;

      &:nth-last-child(1) {
        padding-bottom: 0;
      }
    }
  }

  .project-pagination-block {
    a {
      line-height: 48px;
    }

    span,
    .project-pagination-name {
      display: none;
    }
  }

  .project-pagination-prev,
  .project-pagination-next {
    width: auto;
  }

  .b6 img {
    width: 100%;
    height: 50px;
  }

  .b53 {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .footer-nav-row {
    width: 100%;

    &:nth-of-type(3) .footer-nav-row-wrapper {
      float: inherit;
    }
  }
}

@media screen and (max-width: 519px) {
  /*base-elements------------------------------------------------------[BEGIN]*/
    .main-three-column-block {
      li {
        width: 100%;
      }

      .thumb-item {
        max-width: 380px;
        margin: 0 auto;
      }
    }
  /*base-elements--------------------------------------------------------[END]*/
}

@media screen and (max-width: 480px) {
  .drop-us-block .form-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 460px) {
  .footer-top-part {
    padding: 34px 0 14px;
  }

  .footer-bottom-part {
    padding-bottom: 46px;
  }

  .footer-partners-list {
    float: left;
  }

  .footer-nav-row {
    margin: 0 0 17px;
  }

  .footer-copyright {
    width: 100%;
    margin: 16px 0 25px;
  }
}

@media screen and (max-width: 420px) {
  /*base-elements------------------------------------------------------[BEGIN]*/
    .three-column-block {
      .content {
        padding: 0 20px;
      }
    }
  /*base-elements--------------------------------------------------------[END]*/

  .content {
    padding: 0 20px;
  }

  .b53 {
    .content {
      max-width: 280px;
      min-width: inherit;
    }
  }
}

.btn {
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
